:root {
  --line-height: 1.1;
  --font-size: 2.0rem;
  --nav-size: 1.0rem;
  --header-size: 1.0rem;
  --heading-size: 4.0rem;
  --title-size: 6.0rem;
  --text-size: 2.0rem;
  --tab-size: 2.0rem;
  --p-small: 0.5rem;
  --p-med: 1.0rem;
  --p-big: 2.0rem;
  --m-small: 0.5rem;
  --m-med: 1.0rem;
  --m-big: 2.0rem;
  --color-font: rgba(0, 0, 0, 1.0);
  --color-background: rgba(31, 59, 61, 1);
  --color-linebreak: lightgray;
  --color-header: rgba(255, 255, 255, 1);
  --color-border: darkgray;
  --color-nav: rgba(31, 59, 61, 1);
  --color-article: rgba(255, 255, 255, 1);
  --color-aside: rgba(255, 128, 128, 1);
  --color-main: rgba(255, 255, 255, 1);
  --color-section: rgba(0, 255, 255, 0.3);
  --color-footer: rgba(0, 255, 128, 1);
  --tab-indent: 3.0rem;
  --default-alpha: 0.2;
}

*, *:after, *:before {
    box-sizing:border-box;
    font-size: 110%;
    line-height: 1.4;
    font-family: "Source sans Pro", system-ui;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
  }

  html {
    display: block;
    width: 99.73vw;
    overflow-x: hidden;
    border-width: 0px;
    font-size: 69.5%;
    min-height: 100vh;
    scroll-behavior: smooth;
  }
 
  button {
    cursor: pointer;
  }

  body {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  main.frontpage {
    background-color: var(--color-main);
    flex: 1;
  }
  
  body main nav {
    font-size: var(--nav-size);
  }

  footer {
    background-color: var(--color-footer);
  }

  body nav ul {
    display: flex;
    background: black;
  }

  body main nav li {
    display: block;
    margin: auto;
    padding: var(--p-small);
  }


  body main nav li a{
    text-decoration: none;
  }

  body main nav li a:before {
    display: block;
    height: 100%;
    width: 100%;
    content: attr(data-contents);
  }

  body main nav li a:hover:before {
    cursor: pointer;
    color: lightgreen !important;
  }

  body main nav li a:visited:before {
    color: lightskyblue;
  }

  body main nav li a:link:before {
    color: white;
  }

  header h1 {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
  }

  header section {
    display: flex;
    flex-direction: column;
  }

  header aside {
    display: flex;
    flex-direction: column;
    padding: var(--p-med);
    margin-top: var(--m-small);
    margin-left: auto;
    margin-right: var(--m-small);
    margin-bottom: var(--m-small);
  }

  header aside p {
    font-weight: 100;
  }

  main.frontpage article {
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    background-color: var(--color-article);
    padding: var(--p-small);
  }

  main.frontpage article section {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    margin-bottom: var(--m-med);
    max-width: 900px;
    min-width: 500px;
  }

  main.frontpage article h3 {
    font-weight: 200;
    text-decoration: underline;
    text-underline-offset: -0.1rem;
    margin: var(--m-small);
  }

  main.frontpage article section p {
    text-indent: var(--tab-indent);
    tab-size: var(--tab-size);
    padding-bottom: var(--p-med);
    background-color: white;
  }

  header aside quote {
    font-style: italic;
    margin-top: var(--m-small);
    padding: var(--p-small);
  }
  
  main.frontpage article section[data-section] h3:before {
    display: block;
    content: attr(data-title);
    font-size: var(--heading-size);
    background-color: var(--color-background);
    padding: 0 var(--p-big);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 1;
  }

  article.frontpage section[data-role=card] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 300px;
    background-color: var(--color-lead);
  }

  article.frontpage section div[role=presentation] {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }

  article.frontpage section div[role=img] {
    font-size: 500%;
  }

  article.frontpage section div[role=presentation] p {
    text-indent: 0;
  }

  article.frontpage section div[role=presentation] h4 {
    font-size: var(--heading-size);
  }

  article.frontpage section div[role=presentation] quote {
    display: block;
    font-style: italic;
    padding-bottom: var(--p-small);
  }

  article.frontpage section div[role=presentation] [role=button] {
    margin: 0 auto;
    padding: var(--p-small) var(--p-big);
    border: 1px solid white;
    border-radius: 5px;
    background-color: darkorange;
  }

  article.frontpage section div[role=presentation] [role=button]:hover {
    border-color: darkred;
    color: white;
  }
  article.frontpage section div[role=presentation] [role=button]:active {
    background-color: darkred;
    color: white;
  }